*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #290324;
    color: #fff;
}

header nav{
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:1;
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.search-box,.search-btn{
    border: none; 
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.search-btn{
    background-color: #f44336;
    cursor: pointer;
    color: #fff;
}

.search-btn:hover,.recipe button:hover,.recipe-btn:hover{
    background-color: #ff5c5c;
}
.recipe-container{
    text-align: center;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap:40px;
    width: 80%;
    margin: 10px auto;
    
}

.recipe{
    max-width: 350px;
    margin: auto;
    background-color: #e2e0e0;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(93, 87, 87, 0.1),-5px -5px 10px rgba(34,34,34,0.5);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.recipe:hover{
    transform: scale(1.02);
}

.recipe img{
    height:300px;
}

.recipe h3{
    font-size: 24px;
    color: #4a4a4a;
    margin: 5px 0;
    margin-block: 5px;
}
.recipe p{
     color: #4a4a4a;
     margin-block:5px
}
.recipe span{
    font-weight:600;
    color: #4f4e4e;
}
.recipe button{
    font-size:20px;
    font-weight:600;
    padding: 10px;
    border-radius: 5px;
    margin: 18px auto;
    cursor: pointer;
    border: none;
    background-color: #f44336;
    color: #fff;
}
.recipe-details{
    display: none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); 
    border-radius: 5px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    background-color:#694c2f;
    transition:all 0.5s ease-in-out;
    overflow-y:scroll;
}
.recipe-details::-webkit-scrollbar{
    width: 10px;
   
}
.recipe-details::-webkit-scrollbar-thumb{
    background: #b4b4ba;
    border-radius: 16px;
    
}
body::-webkit-scrollbar{
    width: 15px;
   
}
body::-webkit-scrollbar-thumb{
    background: #a8a8af;    
}

body::-webkit-scrollbar-track{
    background:#fff;
}

.IngredientList li{
    font-size: 16px;
    margin: 20px;
    
}
.instructions {
    font-size:16px;
    margin-left: -1px;
    margin-top: 12px;
    line-height: 30px;    
}

.recipe-details-content{
    padding: 30px;
}
.recipe-close-btn{
    border: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.recipeName{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}
@media screen and (max-width:600px){
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
}